@import "@liveblocks/react-ui/styles.css";
@import "@liveblocks/react-tiptap/styles.css";
.ProseMirror {
  min-height: 100dvh;
  width: 35rem;
  outline: none;
  padding: 50px;
  border-radius: 0.5rem; 
  background-color: #ffffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.ProseMirror p {
  margin: 0 0 1em 0;
}

.ProseMirror mark {
  background-color: #facc15;
  color: black;
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

body{
  background-color: rgba(240, 240, 240, 0.719);
}

.FloatingToolbar {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: white;
  border-radius: 0.375rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 1px solid #e5e7eb;
}
.collaboration-cursor__caret {
  display: none !important;
}

.collaboration-cursor__label {
  display: none !important;
}

@keyframes cursorPulse {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.7; }
}

.cursor-pulse {
  animation: cursorPulse 1.5s infinite;
}


.tiptap {
  :first-child {
    margin-top: 0;
  }


  h1,
  h2,
  h3 {
    line-height: 1.1;
    margin-top: 2.5rem;
    text-wrap: pretty;
  }

  h1,
  h2 {
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
  }

  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1rem;
  }
}